.map-container {
  height: 100vh;
  width: 100%;
}

.map__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 600px;
  margin-bottom: 10px;
  background-color: #b6c2c9;
  color: white;
  font-size: 17px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 13px;
}
