.form__control {
  display: flex;
  width: 100%;
  margin-top: 30px;
  flex-direction: row;
  justify-content: space-between;
}

.form__field {
  height: 20px;
}

.form__controlLeft {
  display: flex;
  margin-left: 15px;
  width: 30%;
}

.form__controlRight {
  display: flex;
  margin-right: 15px;
  flex-direction: column;
  align-items: left;
  width: 65%;
}

.error {
  color: red;
}
