.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.login__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 200px;
  justify-items: center;
}

.login__form > input {
  border-width: 2px;
  align-items: center;
  margin: 10px 0 10px 0px;
}

.login__title {
  margin: 10px 0 10px 0;
}

.login__button {
  display: flex;
  width: 140px;
  height: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border-radius: 1px;
  background-color: #b6c2c9;
  color: white;
  font-size: 13px;
  cursor: pointer;
  border-radius: 4px;
}

.errors {
  color: red;
  margin-top: 5px;
}
