.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 200px;
}

.login_form > input {
  border-width: 2px;
  width: 200px;
}

.login__button {
  display: flex;
  width: 170px;
  height: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border-radius: 1px;
  background-color: #b6c2c9;
  color: white;
  font-size: 17px;
  cursor: pointer;
  border-radius: 4px;
}

.errors {
  color: red;
  margin-top: 5px;
}
